body {
    padding: 40px;
}

body,
p {
    font-size: 24px;
}

button,
[role='button'] {
    display: inline-block;
    max-width: 30px;
    padding: 0px;
    margin-left: 1rem;
}

.strike {
    text-decoration: line-through;
}
